---
title: Faq
layout: base.njk
description: Odpowiedzi na najczęściej zadawane pytania
heroImage: /assets/img/page/gallery/hero.png
---


    <div class="faq-container">
        {% for faqItem in collections.faq %}
            <div class="nav-accordion">
                <input class="nav-accordion__trigger" id="{{ faqItem.data.pytanie | slugify }}" type="checkbox"/>
                <label class="nav-accordion__title" for="{{ faqItem.data.pytanie | slugify }}">{{ faqItem.data.pytanie }}</label>
                <div class="nav-accordion__content-wrapper">
                    <div class="nav-accordion__content">
                        <p>{{ faqItem.data.odpowiedz | safe }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
