---
title: Filmografia
description: Filmografia - lista produkcji filmowych i serialowych
layout: base.njk
heroImage: /assets/img/page/gallery/hero.png
---

<section class="filmography py-large">
   <div class="container">

      <table class="filmography-table">
         <tbody>
            <tr>
               <td class="film-year">2025</td>
               <td class="film-title">CHOPIN, CHOPIN!</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska (mąż Ludwiki)</td>
            </tr>
            <tr>
               <td class="film-year">2025</td>
               <td class="film-title">OJCIEC MATEUSZ</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Maciej Smyl, syn Janusza)</td>
            </tr>
            <tr>
               <td class="film-year">2023</td>
               <td class="film-title">OPERACJA SOULCATCHER</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska (sierżant Damian Prochyra)</td>
            </tr>
            <tr>
               <td class="film-year">2022</td>
               <td class="film-title">FILIP</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska (Laszlo)</td>
            </tr>
            <tr>
               <td class="film-year">2022</td>
               <td class="film-title">MATKA</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Adrian Zawadzki, partner Weroniki Nolińskiej)</td>
            </tr>
            <tr>
               <td class="film-year">2022</td>
               <td class="film-title">WOJENNE DZIEWCZYNY</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (bokser Sońka)</td>
            </tr>
            <tr>
               <td class="film-year">2021</td>
               <td class="film-title">FURIOZA</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska ("Picuś")</td>
            </tr>
            <tr>
               <td class="film-year">2021</td>
               <td class="film-title">KOMISARZ MAMA</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Roman Dutka)</td>
            </tr>
            <tr>
               <td class="film-year">2021</td>
               <td class="film-title">WOJENNE DZIEWCZYNY</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (bokser Sońka)</td>
            </tr>
            <tr>
               <td class="film-year">2020</td>
               <td class="film-title">BARWY SZCZĘŚCIA</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Paweł Piasecki, były chłopak Agaty)</td>
            </tr>
            <tr>
               <td class="film-year">2020</td>
               <td class="film-title">FURIOZA</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska ("Picuś")</td>
            </tr>
            <tr>
               <td class="film-year">2020</td>
               <td class="film-title">KOMISARZ ALEX</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Kamil Florczyk)</td>
            </tr>
            <tr>
               <td class="film-year">2020</td>
               <td class="film-title">THE LIBERATOR</td>
               <td class="film-type">Serial animowany</td>
               <td class="film-role">Obsada aktorska (żandarm)</td>
            </tr>
            <tr>
               <td class="film-year">2020</td>
               <td class="film-title">ŻYWIOŁY SASZY. OGIEŃ</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (negocjator)</td>
            </tr>
            <tr>
               <td class="film-year">2019 - 2021</td>
               <td class="film-title">ZAKOCHANI PO USZY</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Jacek, były chłopak Joanny)</td>
            </tr>
            <tr>
               <td class="film-year">2019</td>
               <td class="film-title">BARWY SZCZĘŚCIA</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Paweł Piasecki, były chłopak Agaty)</td>
            </tr>
            <tr>
               <td class="film-year">2019</td>
               <td class="film-title">OJCIEC MATEUSZ</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Julek, Barski)</td>
            </tr>
            <tr>
               <td class="film-year">2019</td>
               <td class="film-title">PIŁSUDSKI</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska (Gorgol)</td>
            </tr>
            <tr>
               <td class="film-year">2019</td>
               <td class="film-title">PRZYJACIÓŁKI</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Marcin Rogalski)</td>
            </tr>
            <tr>
               <td class="film-year">2018</td>
               <td class="film-title">BARWY SZCZĘŚCIA</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Paweł Piasecki, chłopak Agaty)</td>
            </tr>
            <tr>
               <td class="film-year">2018</td>
               <td class="film-title">MANTYKORA</td>
               <td class="film-type">Etiuda szkolna</td>
               <td class="film-role">Obsada aktorska</td>
            </tr>
            <tr>
               <td class="film-year">2018</td>
               <td class="film-title">MONUMENT</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska (gość na weselu)</td>
            </tr>
            <tr>
               <td class="film-year">2017</td>
               <td class="film-title">BARWY SZCZĘŚCIA</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Paweł Piasecki, chłopak Agaty)</td>
            </tr>
            <tr>
               <td class="film-year">2017</td>
               <td class="film-title">CUDZOZIEMCY W POWSTANIU WARSZAWSKIM</td>
               <td class="film-type">Film dokumentalny - fabularyzowany</td>
               <td class="film-role">Obsada aktorska (Tadek)</td>
            </tr>
            <tr>
               <td class="film-year">2017</td>
               <td class="film-title">NIANIA W WIELKIM MIEŚCIE</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Mariusz Banasik, fotografik, były chłopak Dany Mazurek)</td>
            </tr>
            <tr>
               <td class="film-year">2017</td>
               <td class="film-title">OJCIEC MATEUSZ</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Eryk Grabski)</td>
            </tr>
            <tr>
               <td class="film-year">2017</td>
               <td class="film-title">ŚLUB</td>
               <td class="film-type">Etiuda szkolna</td>
               <td class="film-role">Obsada aktorska (Piotrek)</td>
            </tr>
            <tr>
               <td class="film-year">2017</td>
               <td class="film-title">VARIA</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska (Adam)</td>
            </tr>
            <tr>
               <td class="film-year">2017</td>
               <td class="film-title">WOJENNE DZIEWCZYNY</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska ("Ażur")</td>
            </tr>
            <tr>
               <td class="film-year">2017</td>
               <td class="film-title">ZA SZYBĄ</td>
               <td class="film-type">Etiuda szkolna</td>
               <td class="film-role">Obsada aktorska (Kuba)</td>
            </tr>
            <tr>
               <td class="film-year">2016</td>
               <td class="film-title">BARWY SZCZĘŚCIA</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (pacjent Paweł Piasecki)</td>
            </tr>
            <tr>
               <td class="film-year">2016</td>
               <td class="film-title">BODO</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (podoficer w spelunie)</td>
            </tr>
            <tr>
               <td class="film-year">2016</td>
               <td class="film-title">NIEWINNA</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska (przystojny Robert)</td>
            </tr>
            <tr>
               <td class="film-year">2016</td>
               <td class="film-title">POWIDOKI</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska (Mateusz, student Strzemińskiego)</td>
            </tr>
            <tr>
               <td class="film-year">2015</td>
               <td class="film-title">AŻ PO SUFIT!</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (chłopak zaczepiający Olgę)</td>
            </tr>
            <tr>
               <td class="film-year">2015</td>
               <td class="film-title">OSTATNI ŻOŁNIERZE PONUREGO</td>
               <td class="film-type">Film dokumentalny - fabularyzowany</td>
               <td class="film-role">Obsada aktorska (Jan Piwnik "Ponury")</td>
            </tr>
            <tr>
               <td class="film-year">2015</td>
               <td class="film-title">POWIEDZ TAK!</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (pracownik kwiaciarni należącej do Michała Rajznera)</td>
            </tr>
            <tr>
               <td class="film-year">2015</td>
               <td class="film-title">STRAŻACY</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska</td>
            </tr>
            <tr>
               <td class="film-year">2015</td>
               <td class="film-title">ŚPIEWAJĄCY OBRUSIK</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska</td>
            </tr>
            <tr>
               <td class="film-year">2014</td>
               <td class="film-title">LEKARZE</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Mariusz, chłopak Agnieszki)</td>
            </tr>
            <tr>
               <td class="film-year">2014</td>
               <td class="film-title">MIASTO 44</td>
               <td class="film-type">Film fabularny</td>
               <td class="film-role">Obsada aktorska</td>
            </tr>
            <tr>
               <td class="film-year">2013</td>
               <td class="film-title">ADEKWATNIE DO POGODY</td>
               <td class="film-type">Etiuda szkolna</td>
               <td class="film-role">Obsada aktorska</td>
            </tr>
            <tr>
               <td class="film-year">2013</td>
               <td class="film-title">HOTEL 52</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Patryk Wilczyński, syn Jana)</td>
            </tr>
            <tr>
               <td class="film-year">2012</td>
               <td class="film-title">SYRENA</td>
               <td class="film-type">Etiuda szkolna</td>
               <td class="film-role">Obsada aktorska</td>
            </tr>
            <tr>
               <td class="film-year">2004 - 2025</td>
               <td class="film-title">PIERWSZA MIŁOŚĆ</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Robert, student astrofizyki, którego Jagoda Rogalska poznała w "Adem Club")</td>
            </tr>
            <tr>
               <td class="film-year">2003 - 2025</td>
               <td class="film-title">NA WSPÓLNEJ</td>
               <td class="film-type">Serial fabularny</td>
               <td class="film-role">Obsada aktorska (Gabriel Hetka)</td>
            </tr>
         </tbody>
      </table>

   </div>
</section>
