<?php 
   $page  =       'kontakt';
   $title =       'Kontakt';
   $description=  'Meta opis dla google';
?>
<?php require_once( 'include/header.php' ); ?>

<?php include( 'part/hero-page.php' ); ?>

<section class="section py-xlarge ">

</section>



</main>
<?php require_once( 'include/footer.php' ); ?>